.status0.glyphicon {
    color: #d9534f;
    border-color: #d43f3a;
}

.status1.glyphicon {
    color: #5cb85c;
    border-color: #4cae4c;
}

.status2.glyphicon {
    color: #f0ad4e;
    border-color: #eea236;
}

.table ul {
    margin-bottom: 0;
}

.right {
    text-align: right;
    float: right;
}

.nav.alpha > li > a {
    padding: 7px 7px;
}

.breadcrumb {
    font-size: 13px;
}

.navbar-default {
    background-color: #444;
    /*border-top: solid 1px #444;*/
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a {
    background-color: #4d7db3;
    background-image: linear-gradient(to top, #4571a2, #4d7db3);
    color: #fff;
}

.navbar-default a {
    color: #fff!important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

h1.title {
    font-size: 22px;
}

h1 { font-size: 22px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 17px; }
h5 { font-size: 16px; }
h6 { font-size: 15px; }



.menu * {
    font-size: 12px;
}

.menu ul ul {
    margin: 0!important;
    padding-left: 20px!important;
}

span.list-group-item {
    color: #D2D2D2;
}

ul.base {
    list-style-type: none;
    overflow: auto;
}
.base {
    padding: 10px 0 8px 0;
}

ul.base li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    width: 255px;
    padding: 5px;
    margin: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: 0;
    color: #000000!important;
    -moz-box-shadow: 0px 0px 7px #0076D8;
    -webkit-box-shadow: 0px 0px 7px #0076D8;
    box-shadow: 0px 0px 7px #0076D8;
}

fieldset.index {
    margin-top: 17px;
}

fieldset.index legend {
    font-size: 13px;
    font-weight: bold;
}


fieldset.index a img {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}

fieldset.index a:hover img {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1.0;
    -khtml-opacity: 1.0;
    opacity: 1.0;
}